@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');

body {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.svg-inline--fa {
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.header {
  & a {
    color: GhostWhite;
  }

  & a:visited {
    color: GhostWhite;
  }

  & a:hover {
    color: Orange;
  }
}


.label-icon {
  border-left: 3px solid white;
  padding-left: 5px; 
  margin-left: 5px;
}

a.add-category {
  cursor: pointer;
  text-decoration: underline!important;
}

.favorited {
  color: DarkGoldenRod;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.divider {
  font-size: 4rem;
}

.follow-icon {
  position: absolute;
  top: 6px;
  right: 20px;
}